{% extends "layout.html" %}
{% block body %}

<script>

function sse() {
	var source = new EventSource('/stream');
        source.onmessage = function(e) {
		mydata = JSON.parse(e.data);
		if (mydata.type == 'columns') {
			if (mydata.project_id == {{ id }} && $("#columnsRow").find("#column"+mydata.id).length == 0) {
				createNewColumn(mydata.id, mydata.name);
			}
			else {
				$("#showDetailColumn[data-id='"+mydata.id+"']").text(mydata.name);
				$("#showDetailColumn[data-id='"+mydata.id+"']").val(mydata.name);
				$("#showDetailColumn[data-id='"+mydata.id+"']").data("content", mydata.desc);
			}
		}
		if (mydata.type == 'card') {
			if (mydata.project_id == {{ id }}) {
				if ($("#postit"+mydata.id).length != 0)
					$("#postit"+mydata.id).remove();
				addCardToColumn(mydata.column_id, mydata.id, mydata.name);
			}
			<!-- else { -->
			<!-- 	$("#columnsRow").find("#column"+mydata.id).find("showDetailColumn").text = mydata.name; -->
			<!-- } -->
		}
		if (mydata.type == 'delcard') {
			if (mydata.project_id == {{ id }}) {
				if ($("#postit"+mydata.id).length != 0)
					$("#postit"+mydata.id).remove();
			}
		}
		if (mydata.type == 'delcolumn') {
			if (mydata.project_id == {{ id }}) {
				if ($("#column"+mydata.id).length != 0)
					$("#column"+mydata.id).remove();
			}
		}

	};
}

function delCard(idCard) {
	var posting = $.post("{{url_for("delCard")}}", { idCard: idCard } );
}

function delColumn(idColumn) {
	var posting = $.post("{{url_for("delColumn")}}", { idColumn: idColumn } );
}

function createNewColumn(columnsNumber, columnName) {
	
	var columnID = "column" + columnsNumber;
	var colContainer = $("<div class=\"column\" id=\"" + columnID + "\"></div>");
	var columnTitle = $("<button class=\"columnTitle btn disabled\" id=\"showDetailColumn\" data-id=\""+mydata.id+"\" data-content=\""+mydata.desc+"\" value=\""+mydata.name+"\">" + columnName + "</button>");
	$(columnTitle).button().click(function() { 
			$("#modalColInfoLabel").text($(this).val()).html();
			$("#modalColInfo .modal-body p").text($(this).data("content")).html();
			$('#modalColInfo').modal('show'); });
	var cardsSpace = $("<div class=\"cardsSpace\" id=\"" + columnID + "-cardsSpace\"></div>").droppable({drop: function(event, ui) {
	var idColumn = $(this).attr('id').split("column")[1].split("-")[0];
	var idCard = ui.draggable.attr('id').split("postit")[1];
	event.preventDefault();
	var posting = $.post("{{url_for("modifCard")}}", { idColumn: idColumn, idCard: idCard } );
	}});
	var cardsList = $("<ul class=\"cardsList\" id=\"" + columnID + "-cardsList\"></ul>").sortable({ connectWith: "ul" }).disableSelection();

	var addCard = $("<button href=\"#addACardPopup\" role=\"button\" class=\"open-AddACardPopup btn disabled\" data-toggle=\"modal\" data-id=\""+mydata.id+"\" id=\"" + columnID + "-addCardButton\" style=\"float:left;\">Add a card...</button>").button().click(function() {var columnId = $(this).data('id');
$(".modal-body").find("#formCard-idColumn").val( columnId );
$('#addACardPop').modal('show');
 });

	var delCol = $("<i class=\"icon-remove delcolumn\"  style=\"float: right;\" id=\""+mydata.id+"\"></i>").button().click(function() {
	delColumn($(this).attr('id'));
});

	var modCol = $("<i class=\"icon-edit updatecolumn\"  style=\"float: right;\" id=\""+mydata.id+"\"></i>").button().click(function() {
		$("#updateColumn #formUpdate-name").val($("#showDetailColumn[data-id='"+$(this).attr('id')+"']").val());
	$("#updateColumn #formUpdate-description").val($("#showDetailColumn[data-id='"+$(this).attr('id')+"']").data("content"));
	$("#updateColumn #formUpdate-idColumn").val($(this).attr('id'));
	$("#updateColumn").modal('show');
});

	colContainer.append(columnTitle);
	cardsList.appendTo(cardsSpace);
	cardsSpace.appendTo(colContainer);
	colContainer.append(addCard);
	colContainer.append(delCol);
	colContainer.append(modCol);
	colContainer.appendTo("#columnsRow");
}

function columnModif() {
	alert("Normalement ca permettra de modif la colonne");
}

function addCardToColumn(idColumns, idCard, name) {
	var columnsCardsListID = "#column" + idColumns + "-cardsList";
	var listSize = $(columnsCardsListID + " li").length;
	var newCard = $("<li class=\"navbar-inner postit\" id=\"postit"+idCard+"\" data-id=\""+mydata.id+"\" data-content=\""+mydata.desc+"\">"+name+"</li>");
	var buttonRemove = $("<i class=\"icon-remove delcard\" style=\"float: right;\" id=\""+idCard+"\"></i>").button().click(function() {
	delCard($(this).attr('id'));
});

	var buttonUpdate = $("<i class=\"icon-edit updatecard\" style=\"float: right;\" id=\""+idCard+"\"></i>").button().click(function() {
	$("#updateCard #formUpdateCard-name").val($(".postit[data-id='"+$(this).attr('id')+"']").text());
	$("#updateCard #formUpdateCard-description").val($(".postit[data-id='"+$(this).attr('id')+"']").data("content"));
	$("#updateCard #formUpdateCard-idCard").val($(this).attr('id'));
	$("#updateCard").modal('show');
});

	var buttonInfo = $("<i class=\"icon-file infocard\" style=\"float: right;\" id=\""+idCard+"\"></i>");

	$(newCard).append(buttonRemove);
	$(newCard).append(buttonUpdate);
	$(newCard).append(buttonInfo);
	$(columnsCardsListID).append(newCard);

$(".infocard").button().click(function() {
	$("#modalColInfoLabel").text($(".postit[data-id='"+$(this).attr('id')+"']").text());
	$("#modalColInfo .modal-body p").text($(".postit[data-id='"+$(this).attr('id')+"']").data("content"));
	$("#modalColInfo").modal('show');
});

}

function refreshColumnsListHeight() {
    var bodyheight = $(window).height();
    var navbarheight = $("#navbar").height();
    var headerheight = $("#columnsHeader").height();
    var newcolumnsheight = bodyheight - navbarheight - headerheight - 42; <!-- // 42 is an empirical constant amount of pixels probably due to some margins somewhere -->

    $('#columnsList').height(newcolumnsheight);
}

$(document).ready(function() {
    refreshColumnsListHeight();
});

$(function() {


$(window).resize(function() {
    refreshColumnsListHeight();
});

$(window).trigger('resize');


$( ".columnCreation" ).button().click(function() {
	createNewColumn();
})

$(".cardsList").sortable({
	connectWith: "ul"
}).disableSelection();

$( ".cardsSpace" ).droppable({
	<!-- hoverClass: "ui-state-active"; -->
	drop: function(event, ui) {
	var idColumn = $(this).attr('id').split("column")[1].split("-")[0];
	var idCard = ui.draggable.attr('id').split("postit")[1];
	event.preventDefault();
	var posting = $.post("{{url_for("modifCard")}}", { idColumn: idColumn, idCard: idCard } );
	}
});

<!-- $( ".cardsSpace" ).droppable({ -->
<!-- 	hoverClass: "ui-state-active" -->
<!-- }); -->

$( ".columnTitle" ).button().click(function() {
	$("#modalColInfoLabel").text($(this).val());
	$("#modalColInfo .modal-body p").text($(this).data('content'));
	$('#modalColInfo').modal('show');
})

$(".addCard").button().click(function() {
	addCardToColumn($(this).attr('id'));
})

$(".delcard").button().click(function() {
	delCard($(this).attr('id'));
})


$(".updatecard").button().click(function() {
	$("#updateCard #formUpdateCard-name").val($(".postit[data-id='"+$(this).attr('id')+"']").text());
	$("#updateCard #formUpdateCard-description").val($(".postit[data-id='"+$(this).attr('id')+"']").data("content"));
	$("#updateCard #formUpdateCard-idCard").val($(this).attr('id'));
	$("#updateCard").modal('show');
})

$(".delcolumn").button().click(function() {
	delColumn($(this).attr('id'));
})

$(".infocard").button().click(function() {
	$("#modalColInfoLabel").text($(".postit[data-id='"+$(this).attr('id')+"']").text());
	$("#modalColInfo .modal-body p").text($(".postit[data-id='"+$(this).attr('id')+"']").data("content"));
	$('#modalColInfo').modal('show');
})

$(".updatecolumn").button().click(function() {
	$("#updateColumn #formUpdate-name").val($("#showDetailColumn[data-id='"+$(this).attr('id')+"']").val());
	$("#updateColumn #formUpdate-description").val($("#showDetailColumn[data-id='"+$(this).attr('id')+"']").data("content"));
	$("#updateColumn #formUpdate-idColumn").val($(this).attr('id'));
	$("#updateColumn").modal('show');
})

});


$(document).on("click", ".open-AddACardPopup", function () {
     var columnId = $(this).data('id');
     $(".modal-body #formCard-idColumn").val( columnId );
    $('#addACardPop').modal('show');
});
sse();
</script>

<div id="columnsHeader">
<button href="#addColumn" role="button" data-toggle="modal" class="btn btn-large">Add columns</button>
<hr>
</div>

<div id="columnsList">
  <div id="columnsRow">
    
    {% for c in columns %}
    <div class="column" id="column{{c.id}}">
      <button class="columnTitle btn disabled" id="showDetailColumn" data-id="{{c.id}}" data-content="{{c.content}}" value="{{c.name}}">{{c.name}}</button>
      <div class="cardsSpace" id="column{{c.id}}-cardsSpace">
        <ul class="cardsList" id="column{{c.id}}-cardsList">
	  {% for ca in card[c.id] %}

          <li class="navbar-inner postit" id="postit{{ca.id}}" data-id="{{ca.id}}" data-content="{{ca.content}}">{{ca.name}}<i class="icon-remove delcard"  style="float: right;" id="{{ca.id}}"></i> <i class="icon-edit updatecard"  style="float: right;" id="{{ca.id}}"> </i><i class="icon-file infocard"  style="float: right;" id="{{ca.id}}"></i></li>
          {% endfor %}
        </ul>
      </div>
    <button href="#addACardPopup" role="button" class="open-AddACardPopup btn disabled" data-toggle="modal" data-id="{{c.id}}" id="column{{c.id}}-addCardButton" style="float: left;">Add a card...</button><i class="icon-remove delcolumn"  style="float: right;" id="{{c.id}}"></i>
    <i class="icon-edit updatecolumn"  style="float: right;" id="{{c.id}}"></i>
    </div>
    {% endfor %}
  </div>
</div>

<!-- The "Add a card" pop-up -->
    <div  id="addACardPopup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <form action="" method="post" class="form-horizontal">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	  <h3 id="myModalLabel">Add a Card</h3>
	</div>
	<div class="modal-body">
	  {{formCard.hidden_tag()}}
	<p>
	  Title:<br>
	  {{formCard.name(class="input-block-level")}}<br>
	  Description:<br>
	  {{formCard.description(class="input-block-level")}}<br>
	</p>
	</div>
	<div class="modal-footer">
	  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  <!-- <input class="btn btn-primary" type="submit" value="Add a Card!"> -->
	  {{formCard.submit(class="btn btn-primary", value="Add a Card!")}}
	</div>
      </form>
    </div>
    
    <div  id="addColumn" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addColumnLabel" aria-hidden="true">
      <form action="" method="post" class="form-horizontal">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	  <h3 id="addColumnLabel">Add Columns</h3>
	</div>
	<div class="modal-body">
	  {{form.hidden_tag()}}
	<p>
	  Name:<br>
	  {{form.name(class="input-block-level")}}<br>
	  Description:<br>
	  {{form.description(class="input-block-level")}}<br>
	</p>
	</div>
	<div class="modal-footer">
	  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  <!-- <input class="btn btn-primary" type="submit" value="Add Columns!"> -->
	  {{form.submit(class="btn btn-primary", value="Add a Column!")}}
	</div>
      </form>
    </div>


    <div  id="updateColumn" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="updateColumnLabel" aria-hidden="true">
      <form action="" method="post" class="form-horizontal">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	  <h3 id="updateColumnLabel">Update Column</h3>
	</div>
	<div class="modal-body">
	  {{formUpdate.hidden_tag()}}
	<p>
	  Name:<br>
	  {{formUpdate.name(class="input-block-level")}}<br>
	  Description:<br>
	  {{formUpdate.description(class="input-block-level")}}<br>
	</p>
	</div>
	<div class="modal-footer">
	  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  <!-- <input class="btn btn-primary" type="submit" value="Add Columns!"> -->
	  {{formUpdate.submit(class="btn btn-primary", value="Update a Column!")}}
	</div>
      </form>
    </div>


    <div  id="updateCard" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="updateCardLabel" aria-hidden="true">
      <form action="" method="post" class="form-horizontal">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	  <h3 id="updateCardLabel">Update Carte</h3>
	</div>
	<div class="modal-body">
	  {{formUpdateCard.hidden_tag()}}
	<p>
	  Name:<br>
	  {{formUpdateCard.name(class="input-block-level")}}<br>
	  Description:<br>
	  {{formUpdateCard.description(class="input-block-level")}}<br>
	</p>
	</div>
	<div class="modal-footer">
	  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  <!-- <input class="btn btn-primary" type="submit" value="Add Columns!"> -->
	  {{formUpdateCard.submit(class="btn btn-primary", value="Update a Column!")}}
	</div>
      </form>
    </div>

    <div id="modalColInfo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalColInfoLabel" aria-hidden="true">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="modalColInfoLabel"></h3>
      </div>
      <div class="modal-body">
	<label>Description:</label>
	<p id="description"></p>
      </div>
      <div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

    {% endblock %}
      
